<div class="card border-dark m-3 p-4">
    <h3><%= @post.title %></h3>
    <div class="row">
        <div class="col col-md-8">
            <p>Posted at: <%= I18n.l(@post.created_at, format: :long) %></p>
        </div>
        <div class="col col-md-4 text-right">
            <%= link_to 'Edit post', edit_post_path(@post) %>
        </div>
    </div>
    <p><%= @post.text %></p>
</div>